nav {
    width: 100%;
    border-bottom: 1px solid #333;
    position: fixed;
    background-color: #fff;
    z-index: 999999;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav img {
    padding: 10px 0;
    width: 160px;
}

.links {
    height: 100%;
    list-style-type: none;
    display: flex;
    margin: 0;
}

.links li {
    height: 100%;
}

.links a {
    text-decoration: none;
    padding: 19px;
    color: #000;
    font-weight: 500;
    transition: .3s ease;
}

.links a:hover {
    background-color: #fad3a1;
}
